.about__image
.about__content
	margin-bottom: 1.5em
.about__list
	margin-bottom: 1.5em
	li
		&:first-child
			a
				padding-left: 0
		@include breakpoint(small only)
			width: 100%
			a
				padding-left: 0
				padding-right: 0
.about__image-container
	position: relative
	background-color: $secondary-color
	height: 380px
	margin-top: 0
	border-radius: $global-radius
	@include breakpoint(small only)
		height: auto
.about__image
	position: relative
	img
		width: 60%
		display: block		
		position: absolute
		right: 0
		top: 0
		z-index: 2
		margin: 10px
		@include breakpoint(small only)
			width: 50%
			position: relative
			right: 0
			left: 0
			margin: 0 auto


@include breakpoint(small only)
	.about__image
		order: 2
	.about__content
		order: 1