.nav
	padding: 60px 0
	.row
		@extend .align-top
.nav__header
	font-weight: 700
.nav__title
	font-size: 20px
	margin: 0
	line-height: 1
.nav__subtitle
	font-size: 18px
	color: $primary-color
.nav__links
	@extend .text-right
.nav__link
	font-weight: 700
	font-size: 20px

.projects
.project__link
.project__img
.project__title

.horizontal
	overflow-x: scroll
	max-height: 1000px
	width: 100vw
	white-space: nowrap
	&::-webkit-scrollbar
		width: 0
		background: transparent
	.row
		display: block

.project__link
	@include grid-column-gutter()
	display: inline-block
	margin-right: 60px

.project__title
	font-size: 20px
	
.project__img
	max-width: 800px
	margin-bottom: 30px

.graph
	position: fixed
	bottom: 0
	width: 100vw
	.row
		@include grid-column-gutter()
		@extend .align-bottom
		height: 12px
.bar
	height: 5px
	transition: all 200ms
	&:nth-child(1)
		background-color: #681405
	&:nth-child(2)
		background-color: #EC6953
	&:nth-child(3)
		background-color: $primary-color
	&:nth-child(4)
		background-color: #682F25
	&:nth-child(5)
		background-color: #B52209
	&.active
		height: 12px