*
	outline: 0 !important

body
	@include breakpoint(medium down)
		font-size: 14px

.nav
	padding-top: map-get($grid-column-gutter, medium)
	padding-bottom: map-get($grid-column-gutter, medium)
	.row
		@extend .align-top
.nav__header
	font-weight: 700
	min-height: 40px

.nav__work
	padding: 
	.nav__header
		padding-left: 58px
		position: relative

.nav__title
	font-size: 120px
	//margin: 0 0 80px
	line-height: 1
	font-weight: 900
	@include breakpoint(medium down)
		font-size: 60px
.nav__subtitle
	font-size: 48px
	//color: $primary-color
	font-weight: 900
	//@extend .text-right
	margin: 0 0 72px
	p
		margin: 0
		line-height: 1
	@include breakpoint(medium down)
		font-size: 24px
.nav__links
	//@extend .text-right
.nav__link
	font-weight: 600
	font-size: 32px
	vertical-align: top
	margin-right: 24px
	text-decoration: underline
	color: $secondary-color
	@include breakpoint(medium down)
		font-size: 18px

.nav__back
	color: $primary-color
	display: block
	position: absolute
	text-align: center
	border-radius: 1000px
	height: 40px
	line-height: 38px
	width: 40px
	border: 2px solid $primary-color
	left: 0
	overflow: hidden
	.nav__back-bg
		position: absolute
		z-index: 9
		width: 100%
		height: 100%
		display: block
		margin-left: -100%
		background-color: $primary-color
		transition: all 500ms
		transition-timing-function: ease-in
	span
		z-index: 10
		position: relative
		transition: all 250ms
		transition-delay: 100ms
		font-size: 16px
	&:hover
		span
			color: $black
		.nav__back-bg
			margin-left: 0




