.work

.work__about

.work__title
	font-size: 2em
	margin-bottom: 1.5em

.work__content

.work__list, .work__img
	list-style: none
	margin-left: 0

.work__img
	li
		margin-bottom: 2em

.work__modal
	.close-button
		color: $primary-color
		span
			font-size: 17px
			vertical-align: middle

.work__modal-img
	padding: 60px 120px
	img
		display: block
		margin: auto