---
layout: base.njk
title: Página de Teste
permalink: meunegocio/

---

<section class="page page--teste">
  <div class="grid-container">
    <h1>{{ title }}</h1>
    <p>Essa é uma página de teste gerada com Eleventy.</p>
  </div>
</section>