<!doctype html>
<html class="no-js" lang="pt-br">

<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-777242-12"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-777242-12');
	</script>

	<meta charset="utf-8" />
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>André Magno - Portfolio</title>
	<link rel="stylesheet" href="{{root}}assets/css/app.css">
</head>

<body>