$primary-color: #094D96 !default
$secondary-color: #D11723 !default
$light-gray: #e6e6e6 !default
$white: #fafafa !default
$medium-gray: #cacaca !default
$dark-gray: #8a8a8a !default
$black: #222222 !default
$blackbold: #000000 !default

$body-font-family: 'SF Display', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif !default
$body-font-color: $black !default

$anchor-color: $secondary-color !default
$anchor-color-hover: scale-color($anchor-color, $lightness: -14%) !default
$anchor-text-decoration: none !default
$anchor-text-decoration-hover: none !default

$global-radius: 8px !default

$grid-column-gutter: (
  small: 16px,
  medium: 32px
) !default